src/main/resources/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="Address">
        <xsd:all>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="build" type="xsd:int"/>
            <xsd:element name="apartment" type="xsd:int"/>
        </xsd:all>
    </xsd:complexType>

</xsd:schema>