src/main/resources/Clients.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="corporation"
            xmlns="corporation">

    <xsd:include schemaLocation="Client.xsd"/>

    <xsd:element name="clients" type="ClientsList"/>

        <xsd:complexType name="ClientsList">
            <xsd:sequence>
                <xsd:element name="client" type="Client" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>

</xsd:schema>